#orderDisplay{
    flex-grow: 1;
    list-style: none;
    overflow-y: scroll;
    text-align: center;
}
html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.displayItem{
    display: flex;
    justify-content: space-between;
}
.displayItemInner{
    margin: 0;
    padding: 0;
    width: fit-content;
}
.deleting{
    background-color: rgb(6, 163, 7);
}
